.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(24, 27, 33, 0.5);
    border-radius: 30px;
    padding: 40px;
}

.cta__heading {
    color: var(--color-blue);
    margin-bottom: 30px;
}

.cta__description {
    display: flex;
    align-items: flex-start;
    line-height: 1.4;
    justify-content: space-between;
    text-align: left;
}

.cta__p {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    color: var(--color-gray-dark);
    width: 65%;
}

.btnCta {
    background-color: var(--color-primary);
    color: var(--color-gray);
    margin-top: 2rem;
    width: 25%;
    border: none;
}

.btnCta:hover {
    background-color: var(--color-primary-dark);
}
