.targetShareData {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    color: var(--color-light);
    margin-bottom: 5rem;
}

.targetShareHeading {
    color: var(--color-dark);
    text-transform: uppercase;
    margin-top: 3rem;
    text-transform: uppercase;
    font-weight: 600;
}

.targetShareSubheading {
    color: var(--color-dark);
    font-size: 2.5rem;
    padding-bottom: 3rem;
}

.targetShareDescription {
    margin: 0 auto 2rem auto;
    width: 70%;
    color: var(--color-light);
    padding-bottom: 3rem;
    list-style: none;
    text-align: left;
    line-height: 1.4;
}

.targetShareDescriptionText {
    padding-bottom: 2rem;
}

.targetShareDescriptionLi {
    padding-top: 1rem;
}

.table {
    border: 0 !important;
    border-collapse: collapse;
    margin: 0 auto;
    width: 70%;
    font-size: 1.6rem;
    text-align: left !important;
    line-height: 1.8;
    margin-bottom: 10rem;
}

thead {
    color: var(--color-navy);
}
.odd {
    background-color: var(--color-navy);
    color: var(--color-gray);
}

.even {
    background-color: var(--color-primary);
    color: var(--color-navy);
}

tr {
    text-align: center !important;
    padding-left: 1rem;
}

td {
    padding-left: 1rem;
}
.data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
