:root {
    --color-primary: rgb(197, 153, 99);
    --color-primary-dark: rgb(178, 132, 81);
    --color-primary-light: #e2cdb3;
    --color-gray: #ededed;
    --color-gray-dark: #cfcdcd;
    --color-gray-dark-2: #bbb9b9;
    --color-navy: #032061;
    --color-navy-light: #122f6e;

    --color-green: #02d28f;
    --color-red: #ea4888;
    --color-blue: #01a6fc;
    --color-dark: rgb(24, 27, 33);
    --color-field-green: #008438;
    --color-light: #a2ada2;
    --color-purple: #2f3d64;
    --color-other: rgb(98, 137, 112);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 4.2rem;
}

.btn {
    border-radius: 30px;
    font-size: 1.5rem;
    text-transform: none;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all 0.2s;
    width: 20%;
}

.btn:hover {
    transform: scale(1.1) translateY(-3px);
}

.header-btns {
    margin-top: 3.3rem;
    margin-left: 6rem;
    text-align: center;
    position: relative;
    display: flex;
}

.btn-header {
    background-color: var(--color-navy-light);
    color: var(--color-gray);
    margin-right: 2rem;
    border: none;
    transition: color 0.3s background-color 0.3s;
}

.btn-header:hover {
    background-color: var(--color-gray-dark-2);
    color: var(--color-navy-light);
}

.footer {
    text-align: center;
    color: var(--color-gray-dark);
    text-decoration: none;
    font-size: 1.6rem;
    margin-bottom: 5rem;
}
.footer_list {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.footer_list__item {
    margin: 0 4rem;
    border: none;
    background-color: var(--color-navy);
    color: var(--color-gray-dark);
    font-weight: 600;
    text-decoration: none;
    font-size: 1.6rem;
    transition: all 0.2s;
}

.footer_list__item:hover {
    color: var(--color-gray-dark-2);
    transform: scale(1.1);
    cursor: pointer;
}

.social {
    margin-bottom: 2rem;
    color: var(--color-gray);
}

.social_icons {
    font-size: 3rem;
    padding: 0 1rem;
    transition: all 0.2s;
}

.social_icons:hover {
    transform: scale(1.1);
    color: var(--color-gray-dark);
    cursor: pointer;
}

.spinner-container {
    margin: 100px auto;
}

.spinner {
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-navy-light);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.spinner-text {
    margin-top: 20px;
}

@media screen and (max-width: 1045px) {
    html {
        font-size: 50%;
    }
    .header {
        height: 60vh;
    }
}
@media screen and (max-width: 800px) {
    .header {
        height: 50vh;
    }

    h2 {
        font-size: 3.5rem;
    }

    .cta__description {
        flex-direction: column;
    }
    .cta__p {
        width: 100%;
    }
    .cta__img {
        position: relative;
    }
    .img_cluster {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .cta__img-1 {
        z-index: 8;
        top: 0;
    }
    .cta__img-2 {
        z-index: 10;
        top: 0;
        left: 0;
    }

    .cta__img-3 {
        z-index: 7;
        top: 0;
        right: 0;
    }
    .target-share-description {
        width: 90%;
    }
    table {
        width: 100%;
        margin-bottom: 0;
    }
    .footer_list {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 710px) {
    html {
        font-size: 45%;
    }
    h2 {
        font-size: 3rem;
    }
}
@media screen and (max-width: 630px) {
    html {
        font-size: 45%;
    }
    h1 {
        padding-left: 0;
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    h3 {
        padding-left: 0;
        text-align: center;
    }
    .cta__img-1 {
        display: none;
    }
    .cta__img-2 {
        margin: 0 auto;
    }

    .cta__img-3 {
        display: none;
    }
    .header-btns {
        justify-content: center;
    }
    .btn {
        width: 30%;
    }
}
@media screen and (max-width: 500px) {
    html {
        font-size: 35%;
    }
    .btn {
        width: 40%;
    }
}

/* To Do
disable hover under 900 px
*/

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-left {
    animation: fade-in-left 1s;
}

.fade-in-right {
    animation: fade-in-right 1s;
}
.fade-in-down {
    animation: fade-in-down 1s;
}

.selectors {
    margin-bottom: 40px;
}
.selectors__dropdown {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.football-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    animation: rotate 2s linear infinite;
}

.football-spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: bounce 1s ease-in-out infinite;
    border-bottom-color: transparent;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

.football-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    animation: rotate 2s linear infinite;
}

.football-oval {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 30px/50px;
    background-color: #fff;
}

.football-lace {
    box-sizing: border-box;
    display: block;
    position: absolute;
    bottom: -10px;
    width: 20px;
    height: 10px;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
}

.football-lace-left {
    left: -10px;
}

.football-lace-right {
    right: -10px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
